<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RMS XDK Example </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Order ID</ion-label>
          <ion-text>
            Order ID
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Bill Name</ion-label>
          <ion-text>
            Order ID
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Country</ion-label>
          <ion-text>
            Order ID
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Currency</ion-label>
          <ion-text>
            Order ID
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Mobile</ion-label>
          <ion-text>Order ID</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- <ion-content [fullscreen]="true">
  <div class="app">
    <div
      id="molpay"
      class="molpay"
      style="position: absolute; top: 130px; bottom: 0px"
    ></div>
    <script src=""></script></div
></ion-content> -->
